@import url('https://fonts.googleapis.com/css2?family=Sora&display=swap');

:root {
  /* --main-color: #ebebeb; */
  /* --main-color: #ebebeb; */
  --main-color: #070707;
  --color-2: #070707;
  --color-3: #8d99ae;
  --color-4: #EB807C;
  --color-5: #a00c1e;
  --color-6: #7285b5;
  --color-7: #EFD703;
  --color-8: #a1afd3;
  --color-white: #f3f3f3;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-size: 16px;
  color: var(--color-white);
}  
h2 {
  padding: 2rem 0;
  font-weight: bold;
  font-size: 2rem;
  text-align: center;
  color: var(--color-7);
  /* -webkit-text-stroke: 2px var(--color-2);
  color: transparent;  */

  text-transform: uppercase;
}
h1, h2, h3, h4 {
  font-family: 'Sora', sans-serif;
}
@media (min-width: 360px) { 
  h2 {
    font-size: 3rem;   
  }
}
@media (min-width: 768px) { 
  h2 {
    font-size: 4.5rem;   
  }
}
.container-fluid {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 15px;
  overflow: hidden;
}
  
.ant-layout {
    background: var(--main-color);
}
  
.mainLayout .ant-layout-header {
  background: var(--color-5);
  padding: 0;
  line-height: 1.6;
  
}
.ant-layout-header {
  height: 6rem;
}
p {
    font-size: 16px;
    line-height: 1.6;
}

  /* 
  title holder
  ------------
  */
.titleHolder {
  text-align: center;
  position: relative;
  margin: 40px 0;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
}
  
.titleHolder:after {
  transform: translateX(-50%);
  content: '';
  background: var(--color-white);
  position: absolute;
  bottom: 0;
  left: 50%;
  height: 3px;
  width: 10rem;
}

.titleHolder:before {
  transform: translateX(-50%);
  content: '';
  background: var(--color-white);
  position: absolute;
  top: 0;
  left: 50%;
  height: 3px;
  width: 10rem;
}

/* 
header
------ 
*/
.ant-layout-header {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 999;
}
  
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0 0.5rem 0;
}
@media (min-width: 765px) { 
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0 0.5rem 0;
  }
}
header.ant-layout-header {
  background: rgba(2, 2, 2, 0.856);
  border-bottom: 1px solid rgba(66, 63, 63, 0.5);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px); 
}

.logo img {
  height: 3.2rem;
}
@media (min-width: 375px) { 
  .logo img {
    height: 4rem;
  }
}

.header .ant-anchor-wrapper {
  background: none;
}

.header .ant-anchor {
  display: flex;
}

.header .ant-anchor-ink {
  display: none;
}

.header .ant-anchor-link {
  padding: 0 20px;
  line-height: 1.4;
  position: relative;
}
.ant-anchor-link-active > .ant-anchor-link-title {
  color: var(--color-7);
}
.header .ant-anchor-link:before,
.header .ant-anchor-link:after {
  content: '';
  background: var(--color-7);
  width: 1px;
  position: absolute;
  top: 2px;
  bottom: 2px;
  left: 30%;
  opacity: 0;
  transition: all 0.3s linear;
}

.header .ant-anchor-link:after {
  left: auto;
  right: 30%;
}

.header .ant-anchor-link.ant-anchor-link-active:before,
.header .ant-anchor-link:hover:before {
  left: 5%;
  opacity: 1;
}

.header .ant-anchor-link.ant-anchor-link-active:after,
.header .ant-anchor-link:hover:after {
  right: 5%;
  opacity: 1;
}
.ant-anchor-link-title {
  color: var(--color-white);
  font-size: 1rem;
  font-weight: bold;
}
.ant-anchor-link-title:hover {
  color: var(--color-white);
}
/* ant menu */
.header .ant-menu {
  border: 0;
  background: var(--color-5);
}

.header .ant-menu .ant-menu-item {
  position: relative;
  color: #333;
}

.header .ant-menu .ant-menu-item:before,
.header .ant-menu .ant-menu-item:after {
  content: '';
  width: 1px;
  position: absolute;
  top: 2px;
  bottom: 2px;
  left: 30%;
  opacity: 0;
  transition: all 0.3s linear;
}

.header .ant-menu .ant-menu-item:after {
  left: auto;
  right: 30%;
}

.header .ant-menu .ant-menu-item,
.header .ant-menu .ant-menu-item-selected {
  border: 0 !important;
} 

.header .ant-menu .ant-menu-item-selected:before,
.header .ant-menu .ant-menu-item:hover:before {
  left: 5%;
  opacity: 1;
}

.header .ant-menu .ant-menu-item-selected:after,
.header .ant-menu .ant-menu-item:hover:after {
  right: 5%;
  opacity: 1;
}

.ant-anchor-link-title {
  margin-top: 0.5rem ;
  margin-bottom: 0.5rem;
  font-size: 18px;
} 

@media (min-width: 765px) {
  .ant-anchor-link-title {
      margin-top: 0rem ;
      font-size: 16px;
  } 
}
.ant-drawer-title {
  color: var(--color-white);
  text-transform: uppercase;
  text-align: end;
  font-size: 24px;
}

.item-login-logout {
display: flex;
flex-direction: column;
align-items: center;
justify-content: first baseline;
}
@media (min-width: 765px) { 
.item-login-logout {
  display: flex;
  flex-direction: row;
  align-items: center;
}
}
.item-login-logout span.ant-typography{
padding-right: 1.5rem;
color: var(--color-white);
}


/* BUTTON */

.ant-btn-primary-pag {
  color: #fff;
  border-color: var(--color-5);
  background: var(--color-5);
  text-shadow: 0 -1px 0 rgb(0 0 0 / 12%);
  box-shadow: 0 2px 0 rgb(0 0 0 / 5%);
}
.ant-btn-primary-pag:hover {
  background: #fff;
  color: var(--color-5);
  border-color: #fff;
}

.btn-second {
font-weight: 600;
border-radius: 5%;
color: var(--color-7);
border-color: var(--color-7);
background: none;
text-shadow: 0 -1px 0 rgb(0 0 0 / 12%);
box-shadow: 0 2px 0 rgb(0 0 0 / 5%); 
}
.btn-second:hover,
.btn-second:focus {
color: var(--color-2);
border-color: var(--color-7);
background: var(--color-7);
}
.btn-flex {
  display: flex;
  justify-content: space-evenly;
}


.header-container {
  height: 100vh;
}

.header-video {
  height: 100vh;
  overflow: hidden;
  position: relative;

}
.header-video video {
  height: 100vh;
  width: 100%;
  object-fit: cover;
}
.header-text {
  text-align: start;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.header-text p {
  font-size: 3rem;
}
.header-text p span {
  text-transform: uppercase;
  color: var(--color-7);
  font-size: bold;
  font-size: 3rem;
}
@media (min-width: 768px) { 
  .header-text p span {
    font-size: 6rem;
  }
}

/***** ABOUT *****/

.bg-about {
  padding-top: 2rem;
}
@media (min-width: 480px) { 
  .bg-about {
    padding-top: 2rem;
  }
}

@media (min-width: 768px) { 
  .bg-about h2 {
    margin-bottom: 1rem;
  }
}
.ant-drawer-content-wrapper {
  width: 300px !important;
}
@media (min-width: 360px) { 
  .ant-drawer-content-wrapper {
    width: 378px;
  }
}
.ant-typography {
  font-size: 16px;
}
.img-curriculo {
  display: flex;
  justify-content: center;
  align-items: center;

}
.img-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.img-curriculo img{
  height: 30rem;
  z-index: 3;
}
@media (min-width: 768px) { 
  .img-curriculo img{
    height: 70vh;
  }
}
.ant-progress-bg {
  height: 0.8rem !important;
  position: relative;
  background-color: var(--color-6);
  border-radius: 100px;
  transition: all 0.4s cubic-bezier(0.08, 0.82, 0.17, 1) 0s;
}
.ant-progress-text {
  color: var(--color-white);
}
.text-about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 margin-top: 0;
 height: 100%;
}
.text-about p {
  text-align: justify;
}
.text-about h4 {
  font-size: 1.6rem;
  text-transform: none;
  text-align: start;
  color: var(--color-white);
  
  
}
.text-about>h4>span {
  
  font-size: 2.8rem;
  text-transform: none;
  text-align: start;
  color: var(--color-2);
  background-color: var(--color-7);
}
.ant-tag{
  height: 2rem;
  font-size: 16px;
  padding-top: 0.3rem;
  background: #a9a9a940;
  font-weight: bold;
  color: var(--color-8);
}
/* @media (min-width: 992px) { 
  .text-about {
    height: 100%;

  }
} */
/* .container-img p {
  text-align: center;
} */

picture .img-curriculo img {
  width: 100%;
  object-fit: cover;
}

/*********** EDUCACIÓN ***********/
.ant-timeline-item-head-blue {
  color: var(--color-8);
  border-color: var(--color-8);
}
.ant-timeline-item-tail{
  border-left: 2px solid var(--color-white);
}
.ant-timeline-item-head {
  background-color: var(--color-8);
}
.bg-education {
  background-color: var(--color-2);
  padding-bottom: 2rem;
}
.bg-education h3 {
  color: var(--color-8) ;
}
.bg-education .ant-typography  {
  color: var(--color-white);
}

.skill-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.ant-card .ant-card-bordered {
  min-height: 340px !important; 
}
/*********** PORTFOLIO ***********/
.card-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding-bottom: 2rem;
 
}
.ant-card-cover img {
  height: 160px;
  object-fit: cover;
  padding: 0.5rem;
}
.ant-card {
  background-color: var(--color-2);
  color: var(--color-white);
  /* min-height: 415px; */
}
.ant-card-meta-title {
  color: var(--color-7);
  font-size: 20px;
}
.ant-card-head-title {
  color: var(--color-7);
}
.ant-card-bordered {
  border: 1px solid #f0f0f0;
}
.ant-card-bordered:focus {
  border: 1px solid #f0f0f0;
}
.ant-card-bordered:hover {
  border: 1px solid #f0f0f0;
}
.ant-card-bordered .ant-card-cover {
  margin: 0;
}
/*********** FOOTER ***********/

.bg-footer {
  background: url('../assets/footer.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 20rem;
}
@media (min-width: 768px) { 
  .bg-footer {
    height: 20rem;
  }
}
.ant-layout-footer {
background: var(--main-color);
color: var(--color-2);
text-align: center;
padding: 0;
}
.footer .logo {
font-size: 22px;
text-transform: uppercase;
}
.footer .logo a {
color: var(--color-2)
}

.logo-footer img {
  height: 5rem;
}
.logo-footer p {
  text-align: start;
  font-weight: bold;
  color: var(--color-7);
  text-align: center;
}

a.icon-social-media {
  font-size: 1.2rem;
  padding: 0 1.2rem;
  margin: 0;
  background-color: var(--color-7);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}
.footer-flex {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (min-width: 768px) { 
  .footer-flex {
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;
  }
}
.contact-footer p {
  text-align: justify;
  font-size: 16px;
  padding: 0 1rem;
  font-weight: bold;
  background-color: var(--color-7);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);

}
.ant-layout-footer {
  background-color: var(--color-2);
  color: var(--main-color);
}
.anticon svg {
  color: var(--color-2);
  background-color: var(--color-7);
}

ul {
  list-style-type: none;
}
.footer-icon ul {
  display: flex;
  flex-direction: column;
  text-align: justify;
}

.footer-icon ul li a{
  color: var(--color-2);
 
}
.footer-icon ul li {
  margin-top: 1rem;
 
}

.mobileVisible {
  display: block;
}
.mobileHidden {
  display: none;
}

@media (min-width: 767px) { 
  .mobileVisible {
    display: none;
  }
  .mobileHidden {
    display: block;
  }
}
.ant-drawer-content {
  background-color: var(--color-2);
}
.example {
  margin: 20px 0;
  margin-bottom: 20px;
  padding: 30px 50px;
  text-align: center;
  background: var(--color-2);
  border-radius: 4px;
  height: 100vh;
}
.example h2 {
  font-size: 1.2rem;
}
@media (min-width: 480px) { 
  .example h2 {
    font-size: 2rem;
  }
}
.ant-spin-dot-item {
  background-color: var(--color-7);
  font-size: 6rem;
}